@model Tattoo_Shop.ViewModels.ArtistListViewModel
@{
    ViewData["Title"] = "Artist Page";
}
@foreach (var item in Model.Artists)
{
    <div class="container">
        <div class="row">
            <div class="col">
               
            </div>
            <div class="col m-5">
                @item.Voornaam
                <br/>
                @item.Descriptie
                <br/>
                Specialiteit: @item.Specialiteiten
                <br/>
                <button>Contacteer nu</button>
            </div>
        </div>
    </div>
}
