@model Tattoo_Shop.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Shop Page";
}

<div class="text-center">
    <h1 class="display-4 mt-2 mb-2">Shop</h1>
</div>
<form asp-controller="Shop" asp-action="Search" method="get">
    <div class="form-actions no-color align-self-center">
        <p>
            Zoek op product:
            <input asp-for="ProductSearch" />
            <input type="submit" value="Zoeken" class="btn btn-default" />
            <a asp-controller="Shop" asp-action="Index">Volledige lijst</a>
        </p>
    </div>
</form>
<table>
    <tbody>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Products)
                {<div class="card col-md-4" style="width: 18rem;">
                     <div class="card-body p-2">
                         <H2 class="card-text text-center mb-1 mt-1">@item.Naam</H2>
                         <img src="~/img/inkt/@item.Foto" class="img-thumbnail img-fluid m-2" alt="...">
                         <div class="card card-body">
                             @item.Descriptie
                         </div>
                         <div class="text-center mt-2 mb-2">
                             Prijs : @item.Prijs
                         </div>
                         <button type="button" class="btn btn-outline-success btn-lg btn-block">Kopen</button>
                     </div>
                </div>
                 }
           </div>
        </div>
    </tbody>
</table>
