@model Tattoo_Shop.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Shop Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form asp-controller="Shop" asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p>
            Zoek op product:
            <input asp-for="ProductSearch" />
            <input type="submit" value="Zoeken" class="btn btn-default" />
            <a asp-controller="Shop" asp-action="Index">Terug naar de volledige lijst</a>
        </p>
    </div>
</form>
<table>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td class="col-md-4">
                @item.Naam
            </td>
            <td class="col-md-4">
                @item.Prijs
            </td>
            <td class="col-md-4">
                <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">details</a>
            </td>
            <td class="col-md-4">
                edit
            </td>
            <td class="col-md-4">
                delete
            </td>
        </tr>
        }
    </tbody>

</table>
