
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row row-cols-4 mt-5 mb-xl-5">
        <div class="col-8">
            <h1 class="display-3 p-3">Tattoos you dreamt of We make it reality</h1>
            <h4 class="p-3">Its hard to find good tattoo ideas that you want. We help make your ideas a reality to the best of our extend.</h4>
            <a asp-action="Index" asp-controller="Artist" class="btn btn-outline-success m-3">Artists</a>
            <a asp-action="Index" asp-controller="Tattoo"class="btn btn-outline-secondary m-3">Go to tattoos</a>
        </div>
        <img class="col-4 img-fluid" src="~/img/homepagetattoo.jpg"> 
    </div>
    <h2 class="text-center m-6">Helped over 100 people with their ideas</h2>
</div>